.catalog__pagination {
  display: flex;
  padding-bottom: 50px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &-item.active &-link {
    background-color: $white-color;
    color: $black-color;
    border: 1px solid #ccc;
    pointer-events: none;
  }

  &-link {
    padding: 12px 16px;
    color: $white-color;
    line-height: 1;
    background-color: $black-color;
    transition: background-color .2s;
    outline: none;

    &:hover,
    &:focus {
      background-color: $brown;
    }
  }

}
