.breadcrumbs {

  &__list {
    display: flex;
    margin-bottom: 40px;
  }

  &__item {

    span {
      color: #ABA9A7;
    }

    &:not(:last-child) {
      margin-right: 16px;
      position: relative;
      padding-right: 22px;

      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $black-color;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 0;
      }
    }
  }
}
