.btn {
  background-color: $black-color;
  padding: 14px 34px;
  color: $white-color;
  transition: background-color .2s;
  outline: none;

  &:hover,
  &:focus {
    background-color: $brown;
  }

  &-full {
    width: 100%;
  }
}
