.footer {
  color: $white-color;
  background-image: url('~@/assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 55px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__social {
    text-align: center;

    &-title {
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
    }

    &-item {
      width: 43px;
      height: 43px;
      background-color: $black-color;
      transition: background-color .2s;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        &:hover,
        &:focus {
          background-color: $white-color;

          svg {
            fill: $black-color;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      svg {
        fill: $white-color;
        transition: fill .2s;
      }

      .vk {
        width: 28px;
        height: 16px;
      }

      .facebook {
        width: 11px;
        height: 23px;
      }

      .instagram {
        width: 20px;
        height: 20px;
      }
    }
  }
}
