.gallery {

  .swiper-container {
    width: 100%;
  }

  .swiper-wrapper {
    height: 200px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    background-color: $black-color;
    color: $white-color;
    left: 0;
  }

  .hooper {
    outline: none;
    height: 280px;
  }

  .hooper-navigation {
    position: absolute;
    bottom: 35px;

    button {
      outline: none;
    }
  }

  .hooper-slide {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hooper-next, .hooper-prev {
    background-color: $black-color;
    padding: 13px 25px;

    svg {
      display: none;
    }
  }

  .hooper-next {
    right: auto;
    left: 100px;

    &:after {
      content: 'Вперед';
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .hooper-prev {

    &:after {
      content: 'Назад';
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

}
