.page {
  background-image: url('~@/assets/img/page-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 30px;
    line-height: 42px;
    padding-top: 40px;
  }

  .container {
    max-width: 970px;
  }
}
