@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/PTSansNarrow-Bold.woff2") format('woff2'),
  url("../fonts/PTSansNarrow-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
