@media (max-width: 1000px) {
  .main-section {
    width: 50%;
    padding: 25px 40px 50px 50px;
  }

  .subscribe__field {
    max-width: 180px;
    width: 100%;
  }
}

@media (max-width: 930px) {
  .main-section-wrapper {
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .main-section {
    margin: 0 auto;
    width: 100%;
  }

  .main-section-wrapper:after {
    display: none;
  }

  .main-section__buttons {
    justify-content: center;
  }

  .gallery__box {
    margin-top: 0;
  }

  .news,
  .contact-info {
    padding-bottom: 20px;
  }

  .subscribe__label {
    width: 48%;
  }

  .subscribe__name {
    padding-left: 0;
  }

  .subscribe__field {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 840px) {
  .menu__list,
  .header__btn {
    display: none;
  }

  .burger {
    display: flex;
  }

  .advantages {
    flex-direction: column;
    align-items: center;
  }

  .advantages__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .advantages__text {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .main-section-wrapper {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .main-section-wrapper {
    width: 100%;
  }

  .main-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery__box {
    margin-bottom: 25px;
  }

  .contact-info__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    .btn:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 380px) {
  .subscribe__label {
    width: 100%;
  }

  .subscribe__field {
    width: 100%;
    max-width: none;
  }
}

