
@media (max-width: 840px) {
  .menu__list,
  .header__btn {
    display: none;
  }

  .burger {
    display: flex;
  }

  .advantages {
    flex-direction: column;
    align-items: center;
  }

  .advantages__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .advantages__text {
    max-width: 600px;
  }
}
